@font-face {
    font-family: 'Roboto-Regular';
    src: url('../storage/font/Roboto-Regular.ttf') format('truetype');
}  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto-Regular";
    color: #ffffff;
}
body {
    margin: 0;
    padding: 0;
    background-color: #1a1c48;
    background-image: url('/storage/images/Background.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
#frame{
    position: absolute;
    top: 10vi;
    left: 24vi;
}
.web{
    width: 45vi;
    height: 32vi;
}
.name{
    position: absolute;
    font-size: 5vi;
    top: 1vi;
    left: 40vi;

}
#redes{
    position: absolute;
    bottom: 6vi;
    left: 40vi;
    width: 20vi;
    display: flex;
    justify-content: space-around;
}
.ph{
    width: 4vi;
}
.tw{
    width: 5vi;
}
.f1{
    width: 1.5vi;
}
#info1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    left: 4vi;
    top: 5vi;
    width: 30vi;
}
#info1 span{
    color: #54587d;
    font-size: 1.5vi;
}
#info1 p{
    font-size: 1.5vi;
    position: relative;
    left: 3vi;
}
#info2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    right: 6vi;
    top: 11vi;
    width: 22vi;
}
#info2 span{
    color: #54587d;
    font-size: 1.5vi;
}
#info2 p{
    font-size: 1.5vi;
    position: relative;
    left: 3vi;
}
/*---------------------------------------*/
.footer {
    position: fixed;
    background-color: #101336;
    bottom: 0;
    left:20.1vi;
    width: 59.8vi;
    height: 5vi;
    border-top-left-radius: 2vi;
    border-top-right-radius: 2vi;
}
ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    width: 58vi;
    position: relative;
}
ul li{
    display: flex;
    margin: 0.8vi;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 1.3vi;
}
ul li a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}
.iconos {
    width: 2.2vi;
    height: 2.2vi;
}
/*---------------------------------------*/
botones-company {
    display: flex;
    justify-content: right;
}
botones-company button{
    width: 2vi;
    color: #12132b;
}