@font-face {
    font-family: 'Roboto-Regular';
    src: url('../storage/font/Roboto-Regular.ttf') format('truetype');
}  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto-Regular";
    color: #ffffff;
}
body {
    margin: 0;
    padding: 0;
    background-color: #1a1c48;
    background-image: url('/storage/images/Background.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
/*----------------FOOTER-----------------------*/
.footer {
    position: fixed;
    background-color: #101336;
    bottom: 0;
    left:20.1vi;
    width: 59.8vi;
    height: 5vi;
    border-top-left-radius: 2vi;
    border-top-right-radius: 2vi;
}
ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    width: 58vi;
    position: relative;
}
ul li{
    display: flex;
    margin: 0.8vi;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 1.3vi;
}
ul li a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}
.iconos {
    width: 2.2vi;
    height: 2.2vi;
}
/*---------------------------------------*/
.htitle {
    position: absolute;
    color: white;
    font-size: 3.5vi;
    top: 1vi;
    left: 2vi;
}
.infoPrincipal{
    position: absolute;
    color: white;
    top:8vi;
    left: 6vi;
    width: 25vi;
    font-size: 1.5vi;
    overflow: auto;
}
.infoPrincipal strong{
    color: #54587d;
}
.infoPrincipal span{
    left: 1vi;
}
.articulo {
    position: absolute;
    width: 55vi;
    height: 38vi;
    top: 7vi;
    right: 4vi;
}
::-webkit-scrollbar {
    background-color: transparent;
    width: 0.8vh;
}

::-webkit-scrollbar-thumb {
    background-color: #54587d;
    border-radius: 3vh;
    width: 0.1vh;
}
botones-history {
    position: absolute;
    bottom: 4vi;
    left: 1.5vi;
    width: 18vi;
    height: 4.4vi;
    overflow-x: scroll;
    display: flex;
}
botones-history button{
    color: white;
    font-size: 1.6vi; 
    padding: 0.4vi; 
    cursor: pointer; 
    border-radius: 0.5vi; 
    width: 7vi;
    height: 3vi;
    background-color: #191b3f; 
    border: 0.2vi solid #54587d;
}
botones-history button:hover{
    background: white;
    color: #191b3f;
}
/*------------------Media-Query-------------------*/
@media screen and (max-width: 820px){

  .footer {
    position: fixed;
    top: 0;
    left:20.1vi;
    width: 59.8vi;
    height: 16vi;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 3vi; 
    border-bottom-right-radius: 3vi; 
}
ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    width: 58vi;
}
ul li{
    display: flex;
    margin: 0.8vi;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 3vi;
}
ul li a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}
.iconos {
    width: 11vi;
    height: 9vi;
}
/*---------------------------------------*/
.htitle {
    position: absolute;
    color: white;
    font-size: 5vi;
    top: 34vi;
    left: 17vi;
}
.infoPrincipal{
    position: absolute;
    color: white;
    top:52vi;
    left: 30vi;
    width: 50vi;
    font-size: 3.5vi;
    overflow: auto;
}
.infoPrincipal strong{
    color: #54587d;
}
.infoPrincipal span{
    left: 1vi;
}
.articulo {
    display: none;
}
botones-history {
    position: absolute;
    top: 19vi;
    left: 35vi;
    width: 32vi;
    height: 11vi;
    overflow-x: scroll;
    display: flex;
}
::-webkit-scrollbar {
    background-color: transparent;
    width: 2vi;
    height: 0.5vi;
}
::-webkit-scrollbar-thumb {
    background-color: #54587d;
    border-radius: 1vi;
    width: 2vi;
}
botones-history button{
    color: white;
    font-size: 3vi; 
    padding: 0.4vi; 
    cursor: pointer; 
    border-radius: 0.5vi; 
    width: 18vi;
    height: 9vi;
    background-color: #191b3f; 
    border: 0.2vi solid #54587d;
}

}