@font-face {
    font-family: 'Roboto-Regular';
    src: url('../storage/font/Roboto-Regular.ttf') format('truetype');
}  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto-Regular";
    color: #ffffff;
}
body {
    margin: 0;
    padding: 0;
    background-color: #1a1c48;
    background-image: url('/storage/images/Background.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.rname {
    position: absolute;
    color: white;
    font-size: 5vi;
    top: 0.5vi;
    left: 38vi;
}
.rid{
    position: absolute;
    color: rgb(161, 161, 161);
    font-family: 'Roboto-Regular';
    font-size: 1.5vi;
    top: 6vi;
    left: 36vi;
}
.rid strong {
    color: #54587d;
}
.rdesc {
    position: absolute;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 31vi;
    left: 35vi;
    text-align: center;
    width: 26vi;
    height: 14vi;
    font-size: 1.2vi;
    border: #54587d 0.2vi dotted;
    border-radius: 1vi;
}
.rdesc strong{
    color: #54587d;
    font-size: 1.7vi;
}
.rwiki {
    position: absolute;
    width: 4vi;
    top:37vi;
    right:26vi;
}
.generalinfo {
    position: absolute;
    color: white;
    top: 7vi;
    left: 2vi;
    width: 15vi;
    height: 35vi;
    font-size: 1.5vi;
    overflow-y: auto;
}
.generalinfo strong{
    color: #54587d;
}
.advancedinfo {
    position: absolute;
    color: white;
    top: 10vi;
    left: 18vi;
    width: 11vi;
    height: 27vi;
    font-size: 1.5vi;
    overflow-y: auto;
}
.advancedinfo strong{
    color: #54587d;
}
.stages {
    position: absolute;
    color: white;
    width: 14vi;
    height: 20vi;
    font-size: 1.5vi;
    top:3.5vi;
    right: 3vi;
    overflow-y: auto;
}
.stages strong{
    color: #54587d;
}
.engines {
    position: absolute;
    color: white;
    width: 15vi;
    height: 22vi;
    font-size: 1.5vi;
    top:26vi;
    right: 2vi;
    overflow-y: auto;
}
.engines strong{
    color: #54587d;
}
.payloadWeights {
    position: absolute;
    color: white;
    width: 13vi;
    height: 17vi;
    font-size: 1.5vi;
    top:16vi;
    right: 19vi;
    overflow-y: auto;
}
.payloadWeights strong{
    color: #54587d;
}
#images {
    display: flex;
    position: absolute;
    top: 10vi;
    left: 35.5vi;
    width: 25vi;
    overflow-x: scroll;
}
.cohetes {
    width: 25vi;
    height: 17vi;
} 

::-webkit-scrollbar {
    background-color: transparent;
    width: 0.8vh;
}

::-webkit-scrollbar-thumb {
    background-color: #54587d;
    border-radius: 3vh;
    width: 0.1vh;
}
botones-rockets {
    position: absolute;
    bottom: 4vi;
    left: 1.5vi;
    width: 18vi;
    height: 4.4vi;
    overflow-x: scroll;
    display: flex;
}
botones-rockets button{
    color: white;
    font-size: 1.6vi; 
    padding: 0.4vi; 
    cursor: pointer; 
    border-radius: 0.5vi; 
    width: 7vi;
    height: 3vi;
    background-color: #191b3f; 
    border: 0.2vi solid #54587d;
}
botones-rockets button:hover{
    background: white;
    color: #191b3f;
}
/*----------------FOOTER-----------------------*/
.footer {
    position: fixed;
    background-color: #101336;
    bottom: 0;
    left:20.1vi;
    width: 59.8vi;
    height: 5vi;
    border-top-left-radius: 2vi;
    border-top-right-radius: 2vi;
}
ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    width: 58vi;
    position: relative;
}
ul li{
    display: flex;
    margin: 0.8vi;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 1.3vi;
}
ul li a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}
.iconos {
    width: 2.2vi;
    height: 2.2vi;
}
/*------------------Media-Query-------------------*/
@media screen and (max-width: 820px){
    .rname {
        position: absolute;
        color: white;
        font-size: 8vi;
        top: 29vi;
        left: 33vi;
    }
    .rid{
        position: absolute;
        color: rgb(161, 161, 161);
        font-family: 'Roboto-Regular';
        font-size: 3vi;
        top: 40vi;
        left: 27vi;
    }
    .rdesc {
        position: absolute;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 80vi;
        left: 11vi;
        text-align: center;
        width: 80vi;
        height: 40vi;
        font-size: 3.5vi;
        border: #54587d 1vi dotted;
        border-radius: 1vi;
    }
    .rdesc strong{
        color: #54587d;
        font-size: 4vi;
    }
    .rwiki {
       display: none;
    }
    .generalinfo {
        position: absolute;
        color: white;
        top: 122vi;
        left: 30vi;
        width: 40vi;
        height: 35vi;
        font-size: 3vi;
        overflow-y: auto;
    }
    .generalinfo strong{
        color: #54587d;
    }
    .advancedinfo {
        display:none;
    }
    .stages {
       display: none;
    }
    .engines {
      display: none;
    }
    .payloadWeights {
        display: none;
    }
    #images {
        display: flex;
        position: absolute;
        top: 47vi;
        left: 25vi;
        width: 49vi;
        overflow-x: scroll;
    }
    .cohetes {
        width: 50vi;
        height: 30vi;
    } 
    botones-rockets {
        position: absolute;
        top: 19vi;
        left: 35vi;
        width: 30vi;
        height: 6vi;
        overflow-x: scroll;
        display: flex;
    }
    botones-rockets button{
        color: white;
        font-size: 3vi; 
        padding: 0.4vi; 
        cursor: pointer; 
        border-radius: 0.5vi; 
        width: 12vi;
        height: 6vi;
        background-color: #191b3f; 
        border: 0.2vi solid #54587d;
    }
    /*---------------------------------------*/
    .footer {
        position: fixed;
        top: 0;
        left:20.1vi;
        width: 59.8vi;
        height: 16vi;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 3vi; 
        border-bottom-right-radius: 3vi; 
    }
    ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style-type: none;
        width: 58vi;
    }
    ul li{
        display: flex;
        margin: 0.8vi;
        justify-content: center;
        text-align: center;
        align-items: center;
        font-size: 3vi;
    }
    ul li a {
        text-decoration: none;
        color: white;
        cursor: pointer;
    }
    .iconos {
        width: 11vi;
        height: 9vi;
    }
}