@font-face {
    font-family: 'Roboto-Regular';
    src: url('../storage/font/Roboto-Regular.ttf') format('truetype');
}  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    background-color: #1a1c48;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.uibg {
    position: absolute;
    width: 177vh;
    height: 99vh;
}

.bar {
    position: absolute;
    width: 125vh;
    margin-left: 26vh;
    margin-top: 88vh;
}

.overviewicon {
    position: absolute;
    width: 4vh;
    margin-left: 65vh;
    margin-top: 92.5vh;
}

.rocketicon {
    position: absolute;
    width: 4vh;
    margin-left: 79vh;
    margin-top: 92.5vh;
}

.historyicon {
    position: absolute;
    width: 4vh;
    margin-left: 93vh;
    margin-top: 92.5vh;
}

.capsuleicon {
    position: absolute;
    width: 4vh;
    margin-left: 108vh;
    margin-top: 92.5vh;
}

.overviewtxt {
    position: absolute;
    color: white;
    font-size: 2vh;
    font-family: "Roboto-Regular";
    margin-left: 63vh;
    margin-top: 96vh;
}

.rockettxt {
    position: absolute;
    color: white;
    font-size: 2vh;
    font-family: "Roboto-Regular";
    margin-left: 77.5vh;
    margin-top: 96vh;
}

.historytxt {
    position: absolute;
    color: white;
    font-size: 2vh;
    font-family: "Roboto-Regular";
    margin-left: 92vh;
    margin-top: 96vh;
}

.capsuletxt {
    position: absolute;
    color: white;
    font-size: 2vh;
    font-family: "Roboto-Regular";
    margin-left: 106.5vh;
    margin-top: 96vh;
}

.rbtn1 {
    position: absolute;
    color: white;
    font-size: 3vi; 
    padding: 0.4vi; 
    cursor: pointer; 
    border-radius: 0.5vi; 
    width: 4vi;
    height: 4vi;
    background-color: #191b3f; 
    border: 0.2vi solid #54587d;
    margin-left: 12vh;
    margin-top: 90vh;
}

.rbtn2 {
    position: absolute;
    color: white;
    font-size: 3vi; 
    padding: 0.4vi; 
    cursor: pointer; 
    border-radius: 0.5vi; 
    width: 4vi;
    height: 4vi;
    background-color: #191b3f; 
    border: 0.2vi solid #54587d;
    margin-left: 22vh;
    margin-top: 90vh;
}

.rbtn3 {
    position: absolute;
    color: white;
    font-size: 3vi; 
    padding: 0.4vi; 
    cursor: pointer; 
    border-radius: 0.5vi; 
    width: 4vi;
    height: 4vi;
    background-color: #191b3f; 
    border: 0.2vi solid #54587d;
    margin-left: 32vh;
    margin-top: 90vh;
}

.rbtn4 {
    position: absolute;
    color: white;
    font-size: 3vi; 
    padding: 0.4vi; 
    cursor: pointer; 
    border-radius: 0.5vi; 
    width: 4vi;
    height: 4vi;
    background-color: #191b3f; 
    border: 0.2vi solid #54587d;
    margin-left: 42vh;
    margin-top: 90vh;
}

button:hover{
    background: white;
    color: #191b3f;
}

.rname {
    position: absolute;
    color: rgb(161, 161, 161);
    font-size: 5vh;
    font-family: "Roboto-Regular";
    margin-left: 80vh;
    margin-top: 2vh;
}

.rid {
    position: absolute;
    color: rgb(161, 161, 161);
    font-size: 3vh;
    font-family: "Roboto-Regular";
    margin-left: 68vh;
    margin-top: 7vh;
}

.rdesc {
    position: absolute;
    color: rgb(161, 161, 161);
    text-align: center;
    font-family: 'Roboto-Regular';
    width: 45vh;
    height: 25vh;
    font-size: 2.5vh;
    margin-top: 52vh;
    margin-left: 66vh;
}

.rwiki {
    position: absolute;
    width: 5vh;
    height: auto;
    margin-left: 86vh;
    margin-top: 84vh;
}

.generalinfo {
    position: absolute;
    color: rgb(161, 161, 161);
    font-family: 'Roboto-Regular';
    width: 30vh;
    height: 70vh;
    font-size: 3vh;
    margin-left: 1vh;
    margin-top: 11vh;
    overflow-y: auto;
}

.advancedinfo {
    position: absolute;
    color: rgb(161, 161, 161);
    font-family: "Roboto-Regular";
    width: 25vh;
    height: 38vh;
    font-size: 3vh;
    margin-left: 32vh;
    margin-top: 19vh;
    overflow-y: auto;
}

.stages {
    position: absolute;
    color: rgb(161, 161, 161);
    font-family: "Roboto-Regular";
    width: 25vh;
    height: 38vh;
    font-size: 3vh;
    margin-left: 119vh;
    margin-top: 19vh;
    overflow-y: auto;
}

.engines {
    position: absolute;
    color: rgb(161, 161, 161);
    font-family: "Roboto-Regular";
    width: 30vh;
    height: 38vh;
    font-size: 3vh;
    margin-left: 145vh;
    margin-top:58vh;
    overflow-y: auto;
}

.payloadWeights {
    position: absolute;
    color: rgb(161, 161, 161);
    font-family: "Roboto-Regular";
    width: 30vh;
    height: 38vh;
    font-size: 3vh;
    margin-left: 145vh;
    margin-top:11vh;
    overflow-y: auto;
}

.rimg {
    position: absolute;
    display: flex;
    color: rgb(161, 161, 161);
    width: 58vh;
    height: 30vh;
    font-size: 2vh;
    font-family: "Roboto-Regular";
    margin-left: 59vh;
    margin-top: 19vh;
    overflow-x: auto;
}

.rimgsrc {
    position: relative;
    width: 58vh;
    height: auto;
}

::-webkit-scrollbar {
    background-color: transparent;
    width: 0.8vh;
}

::-webkit-scrollbar-thumb {
    background-color: #307bdd;
    border-radius: 3vh;
    width: 0.1vh;
}

.t1 {
    position: absolute;
    color: white;
    font-size: 4vh;
    font-family: "Roboto-Regular";
    margin-top: 4vh;
    margin-left: 5vh;
}

.t2 {
    position: absolute;
    color: white;
    font-size: 4vh;
    font-family: "Roboto-Regular";
    margin-top: 12vh;
    margin-left: 32vh;
}

.t3 {
    position: absolute;
    color: white;
    font-size: 4vh;
    font-family: "Roboto-Regular";
    margin-top: 12vh;
    margin-left: 123vh;
}

.t4 {
    position: absolute;
    color: white;
    font-size: 4vh;
    font-family: "Roboto-Regular";
    margin-top: 4vh;
    margin-left: 150vh;
}

.t5 {
    position: absolute;
    color: white;
    font-size: 4vh;
    font-family: "Roboto-Regular";
    margin-top: 52vh;
    margin-left: 150vh;
}

@media (max-width: 390px){
    html {
        background-color:#242539;
        background-size: cover;
        width: 100vw;
        height: 100vh;
    }
    
    .uibg {
        position: absolute;
        width: 46vh;
        height: 300vh;
        transform: scaleY(-1);
    }
    
    .bar {
        position: absolute;
        width: 80vh;
        margin-left: -17vh;
        margin-top: 0.1vh;
        transform: scaleY(-1);
    }
    
    .overviewicon {
        position: absolute;
        width: 4vh;
        margin-left: 6vh;
        margin-top: 0.2vh;
    }
    
    .rocketicon {
        position: absolute;
        width: 4vh;
        margin-left: 16vh;
        margin-top: 0.2vh;
    }
    
    .historyicon {
        position: absolute;
        width: 4vh;
        margin-left: 27vh;
        margin-top: 0.2vh;
    }
    
    .capsuleicon {
        position: absolute;
        width: 4vh;
        margin-left: 37vh;
        margin-top: 0.2vh;
    }
    
    .overviewtxt {
        position: absolute;
        color: white;
        font-size: 2vh;
        font-family: "Roboto-Regular";
        margin-left: 63vh;
        margin-top: 96vh;
        display: none;
    }
    
    .rockettxt {
        position: absolute;
        color: white;
        font-size: 2vh;
        font-family: "Roboto-Regular";
        margin-left: 77.5vh;
        margin-top: 96vh;
        display: none;
    }
    
    .historytxt {
        position: absolute;
        color: white;
        font-size: 2vh;
        font-family: "Roboto-Regular";
        margin-left: 92vh;
        margin-top: 96vh;
        display: none;
    }
    
    .capsuletxt {
        position: absolute;
        color: white;
        font-size: 2vh;
        font-family: "Roboto-Regular";
        margin-left: 106.5vh;
        margin-top: 96vh;
        display: none;
    }
    
    .rbtn1 {
        position: absolute;
        color: white;
        font-size: 5vi; 
        padding: 0.4vi; 
        cursor: pointer; 
        border-radius: 0.5vi; 
        width: 10vi;
        height: 10vi;
        background-color: #191b3f; 
        border: 0.2vi solid #54587d;
        margin-left: 1vh;
        margin-top: 8vh;
    }
    
    .rbtn2 {
        position: absolute;
        color: white;
        font-size: 5vi; 
        padding: 0.4vi; 
        cursor: pointer; 
        border-radius: 0.5vi; 
        width: 10vi;
        height: 10vi;
        background-color: #191b3f; 
        border: 0.2vi solid #54587d;
        margin-left: 12vh;
        margin-top: 8vh;
    }
    
    .rbtn3 {
        position: absolute;
        color: white;
        font-size: 5vi; 
        padding: 0.4vi; 
        cursor: pointer; 
        border-radius: 0.5vi; 
        width: 10vi;
        height: 10vi;
        background-color: #191b3f; 
        border: 0.2vi solid #54587d;
        margin-left: 30vh;
        margin-top: 8vh;
    }
    
    .rbtn4 {
        position: absolute;
        color: white;
        font-size: 5vi; 
        padding: 0.4vi; 
        cursor: pointer; 
        border-radius: 0.5vi; 
        width: 10vi;
        height: 10vi;
        background-color: #191b3f; 
        border: 0.2vi solid #54587d;
        margin-left: 40vh;
        margin-top: 8vh;
    }
    
    button:hover{
        background: white;
        color: #191b3f;
    }
    
    .rname {
        position: absolute;
        color: rgb(161, 161, 161);
        text-align: center;
        font-size: 5vh;
        font-family: "Roboto-Regular";
        margin-left: 14vh;
        margin-top: 15vh;
    }
    
    .rid {
        position: absolute;
        color: rgb(161, 161, 161);
        font-size: 2vh;
        font-family: "Roboto-Regular";
        margin-left: 8vh;
        margin-top: 22vh;
    }
    
    .rdesc {
        position: absolute;
        color: rgb(161, 161, 161);
        text-align: center;
        font-family: 'Roboto-Regular';
        width: 45vh;
        height: 25vh;
        font-size: 2.5vh;
        margin-top: 60vh;
        margin-left: 1vh;
    }
    
    .rwiki {
        position: absolute;
        width: 5vh;
        height: auto;
        margin-left: 21vh;
        margin-top: 92vh;
    }
    
    .generalinfo {
        position: absolute;
        color: rgb(161, 161, 161);
        font-family: 'Roboto-Regular';
        width: 30vh;
        height: 70vh;
        font-size: 3vh;
        margin-left: 1vh;
        margin-top: 108vh;
        overflow-y: auto;
    }
    
    .advancedinfo {
        position: absolute;
        color: rgb(161, 161, 161);
        font-family: "Roboto-Regular";
        width: 25vh;
        height: 38vh;
        font-size: 3vh;
        margin-left: 1vh;
        margin-top: 198vh;
        overflow-y: auto;
    }
    
    .stages {
        position: absolute;
        color: rgb(161, 161, 161);
        font-family: "Roboto-Regular";
        width: 25vh;
        height: 38vh;
        font-size: 3vh;
        margin-left: 1vh;
        margin-top: 256vh;
        overflow-y: auto;
    }
    
    .engines {
        position: absolute;
        color: rgb(161, 161, 161);
        font-family: "Roboto-Regular";
        width: 30vh;
        height: 38vh;
        font-size: 3vh;
        margin-left: 1vh;
        margin-top:366vh;
        overflow-y: auto;
    }
    
    .payloadWeights {
        position: absolute;
        color: rgb(161, 161, 161);
        font-family: "Roboto-Regular";
        width: 30vh;
        height: 38vh;
        font-size: 3vh;
        margin-left: 1vh;
        margin-top:310vh;
        overflow-y: auto;
    }
    
    .rimg {
        position: absolute;
        display: flex;
        color: rgb(161, 161, 161);
        width: 45vh;
        height: 30vh;
        font-size: 2vh;
        font-family: "Roboto-Regular";
        margin-left: 0.1vh;
        margin-top: 25vh;
        overflow-x: auto;
    }
    
    .rimgsrc {
        position: relative;
        width: 58vh;
        height: auto;
    } 

    .t1 {
        position: absolute;
        color: white;
        font-size: 4vh;
        font-family: "Roboto-Regular";
        margin-top:100vh;
        margin-left:13vh;
    }
    
    .t2 {
        position: absolute;
        color: white;
        font-size: 4vh;
        font-family: "Roboto-Regular";
        margin-top: 190vh;
        margin-left: 11vh;
    }
    
    .t3 {
        position: absolute;
        color: white;
        font-size: 4vh;
        font-family: "Roboto-Regular";
        margin-top: 248vh;
        margin-left: 18vh;
    }
    
    .t4 {
        position: absolute;
        color: white;
        font-size: 4vh;
        font-family: "Roboto-Regular";
        margin-top: 302vh;
        margin-left: 16vh;
    }
    
    .t5 {
        position: absolute;
        color: white;
        font-size: 4vh;
        font-family: "Roboto-Regular";
        margin-top: 357vh;
        margin-left: 17vh;
    }
}
