@font-face {
    font-family: 'Roboto-Regular';
    src: url('../storage/font/Roboto-Regular.ttf') format('truetype');
}  

html {
    background-color: #1a1c48;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.uibg {
    position: absolute;
    width: 177vh;
    height: 99vh;
}

.bar {
    position: absolute;
    width: 125vh;
    margin-left: 26vh;
    margin-top: 88vh;
}

.overviewicon {
    position: absolute;
    width: 4vh;
    margin-left: 65vh;
    margin-top: 92.5vh;
}

.rocketicon {
    position: absolute;
    width: 4vh;
    margin-left: 79vh;
    margin-top: 92.5vh;
}

.historyicon {
    position: absolute;
    width: 4vh;
    margin-left: 93vh;
    margin-top: 92.5vh;
}

.capsuleicon {
    position: absolute;
    width: 4vh;
    margin-left: 108vh;
    margin-top: 92.5vh;
}

.overviewtxt {
    position: absolute;
    color: white;
    font-size: 2vh;
    font-family: "Roboto-Regular";
    margin-left: 63vh;
    margin-top: 96vh;
}

.rockettxt {
    position: absolute;
    color: white;
    font-size: 2vh;
    font-family: "Roboto-Regular";
    margin-left: 77.5vh;
    margin-top: 96vh;
}

.historytxt {
    position: absolute;
    color: white;
    font-size: 2vh;
    font-family: "Roboto-Regular";
    margin-left: 92vh;
    margin-top: 96vh;
}

.capsuletxt {
    position: absolute;
    color: white;
    font-size: 2vh;
    font-family: "Roboto-Regular";
    margin-left: 106.5vh;
    margin-top: 96vh;
}

.rbtn1 {
    position: absolute;
    background-color: #1a1c48;
    color: white;
    font-family: 'Roboto-Regular';
    width: 6vh;
    height: 6vh;
    font-size: 4vh;
    border-color: #1a1c48;
    margin-left: 12vh;
    margin-top: 90vh;
}

.rbtn2 {
    position: absolute;
    background-color: #1a1c48;
    color: white;
    font-family: 'Roboto-Regular';
    width: 6vh;
    height: 6vh;
    font-size: 4vh;
    border-color: #1a1c48;
    margin-left: 22vh;
    margin-top: 90vh;
}

.rbtn3 {
    position: absolute;
    background-color: #1a1c48;
    color: white;
    font-family: 'Roboto-Regular';
    width: 6vh;
    height: 6vh;
    font-size: 4vh;
    border-color: #1a1c48;
    margin-left: 32vh;
    margin-top: 90vh;
}

.rbtn4 {
    position: absolute;
    background-color: #1a1c48;
    color: white;
    font-family: 'Roboto-Regular';
    width: 6vh;
    height: 6vh;
    font-size: 4vh;
    border-color: #1a1c48;
    margin-left: 42vh;
    margin-top: 90vh;
}

.rname {
    position: absolute;
    color: rgb(161, 161, 161);
    font-size: 5vh;
    font-family: "Roboto-Regular";
    margin-left: 80vh;
    margin-top: 2vh;
}

.rid {
    position: absolute;
    color: rgb(161, 161, 161);
    font-size: 3vh;
    font-family: "Roboto-Regular";
    margin-left: 68vh;
    margin-top: 7vh;
}

.rdesc {
    position: absolute;
    color: rgb(161, 161, 161);
    text-align: center;
    font-family: 'Roboto-Regular';
    width: 45vh;
    height: 25vh;
    font-size: 2.5vh;
    margin-top: 52vh;
    margin-left: 66vh;
}

.rwiki {
    position: absolute;
    width: 8vh;
    height: auto;
    margin-left: 84vh;
    margin-top: 80vh;
}

.generalinfo {
    position: absolute;
    color: rgb(161, 161, 161);
    font-family: 'Roboto-Regular';
    width: 30vh;
    height: 70vh;
    font-size: 3vh;
    margin-left: 1vh;
    margin-top: 11vh;
    overflow-y: auto;
}

.advancedinfo {
    position: absolute;
    color: rgb(161, 161, 161);
    font-family: "Roboto-Regular";
    width: 25vh;
    height: 38vh;
    font-size: 3vh;
    margin-left: 32vh;
    margin-top: 19vh;
    overflow-y: auto;
}

.stages {
    position: absolute;
    color: rgb(161, 161, 161);
    font-family: "Roboto-Regular";
    width: 25vh;
    height: 38vh;
    font-size: 3vh;
    margin-left: 119vh;
    margin-top: 19vh;
    overflow-y: auto;
}

.engines {
    position: absolute;
    color: rgb(161, 161, 161);
    font-family: "Roboto-Regular";
    width: 30vh;
    height: 38vh;
    font-size: 3vh;
    margin-left: 145vh;
    margin-top:51vh;
    overflow-y: auto;
}

.payloadWeights {
    position: absolute;
    color: rgb(161, 161, 161);
    font-family: "Roboto-Regular";
    width: 30vh;
    height: 38vh;
    font-size: 3vh;
    margin-left: 145vh;
    margin-top:11vh;
    overflow-y: auto;
}

.rimg {
    position: absolute;
    color: rgb(161, 161, 161);
    width: 58vh;
    height: 30vh;
    font-size: 2vh;
    font-family: "Roboto-Regular";
    margin-left: 59vh;
    margin-top: 19vh;
    overflow-x: auto;
    overflow-y: hidden;
}

.rimgsrc {
    position: relative;
    width: 58vh;
    height: auto;
}

::-webkit-scrollbar {
    background-color: transparent;
    width: 0.8vh;
}

::-webkit-scrollbar-thumb {
    background-color: #307bdd;
    border-radius: 3vh;
    width: 0.1vh;
}
