<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EL ELICO’TERO</title>
    <link rel="stylesheet" href="/css/capsules.css">
</head>
<body>
    <img class="capsula" src="/storage/images/capsule.png">
    <div id="serial"></div>
    <div id="patch"></div>
    <div id="infoCapsules"></div>
    <div id="last"></div>
    <div id="lanza1"></div>
    <div id="lanza2"></div>
    <div id="enlaces"></div>
    <botones-capsules></botones-capsules>
    <!-----------------FOOTER---------------------->
    <div class="footer">
        <ul>
            <li>
                <a href="/index.html">
                    <img class="iconos" src="/storage/overview.svg">
                    <p>Company</p>
                </a>
            </li>
            <li>
                <a href="/views/rockets.html">
                    <img class="iconos" src="/storage/rocket.svg">
                    <p>Rockets</p>
                </a>
            </li>
            <li>
                <a href="/views/capsules.html">
                    <img class="iconos" src="/storage/capsule.svg">
                    <p>Capsules</p>
                </a>
            </li>
            <li>
                <a href="/views/history.html">
                    <img class="iconos" src="/storage/history.svg">
                    <p>History</p>
                </a>
            </li>   
        </ul>
    </div>
</body>
<script src="/js/capsules.js"></script>
</html>