<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EL ELICO’TERO</title>
    <link rel="stylesheet" href="/css/history.css">
</head>
<body>
   <!-----------------FOOTER---------------------->
   <div class="footer">
    <ul>
        <li>
            <a href="/index.html">
                <img class="iconos" src="/storage/overview.svg">
                <p>Company</p>
            </a>
        </li>
        <li>
            <a href="/views/rockets.html">
                <img class="iconos" src="/storage/rocket.svg">
                <p>Rockets</p>
            </a>
        </li>
        <li>
            <a href="/views/capsules.html">
                <img class="iconos" src="/storage/capsule.svg">
                <p>Capsules</p>
            </a>
        </li>
        <li>
            <a href="/views/history.html">
                <img class="iconos" src="/storage/history.svg">
                <p>History</p>
            </a>
        </li>   
    </ul>
</div>
    <div id="infoHistory"></div>
    <botones-history></botones-history>
</body>
<script src="/js/history.js"></script>
</html>