<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EL ELICO’TERO</title>
    <link rel="stylesheet" href="/css/history.css">
</head>
<body>
    <img src="/storage/images/Background.png" class="uibg">
    <img src="/storage/images/Dock.png" class="bar">
    <a href="/index.html">
        <img class="overviewicon" src="/storage/overview.svg">
        <p class="overviewtxt">Company</p>
    </a>

    <a href="/views/rockets.html">
        <img class="rocketicon" src="/storage/rocket.svg">
        <p class="rockettxt">Rockets</p>
    </a>

    <a href="/views/capsules.html">
        <img class="capsuleicon" src="/storage/capsule.svg">
        <p class="capsuletxt">Capsules</p>
    </a>

    <a href="/views/history.html">
        <img class="historyicon" src="/storage/history.svg">
        <p class="historytxt">History</p>
    </a>

    <div id="infoHistory"></div>
    <botones-history></botones-history>
</body>
<script src="/js/history.js"></script>
</html>